{% extends "base.html" %}
{% block content %}
    <div class="five">
    <form action="" method="post" class="onerow">
        <div class="wrapper">
          <div class="one">
            <label for="name" class="inputs"><b>Input genre name</b></label><br>
                 <input type="text" name="name" id="name" placeholder="Enter new genre" required><br>
          </div>
          <div class="four">
              <button type="submit" class="btn"><b>Add</b></button>
          </div>
        </div>
    </form>
        </div>
{% endblock %}