{% extends "base.html" %}

{% block content %}
    <div class="five">
    <form action="" method="post" class="onerow">
        <div class="wrapper">
          <div class="one">
              <label for="password" class="inputs"><b>Enter root password</b></label><br>
              <input type="password" name="password" id="password" placeholder="Enter Password" value="" required><br>
          </div>
          <div class="four">
              <button type="submit" class="btn"><b>Became admin</b></button>
          </div>
        </div>
    </form>
        </div>

{% endblock %}